.item{
    width: 25px;
    background-color: #ccc;
    text-align: center;
}
.container{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: red;
}
